.add-container {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
}

.add-content {
    width: 450px;
    display: block;
    margin-top: 10%;
}

.mat-form-field {
    margin-top: 10px;
    width: 100%;
    display: block;
}

.mat-raised-button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-top: 15px;
}
